/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode styles */
body {
  background-color: #fff;
  color: #000;
}

/* Dark mode styles */
body.dark {
  background-color: #1a202c; /* Dark background */
  color: #f7fafc; /* Light text */
}
